# exclude everything
overrides/*

# exception to the rule
!overrides/defaultconfigs/*
!overrides/config
!overrides/kubejs
!overrides/_CHANGELOG.txt

# Exceptions inside the exceptions
overrides/config/defaultoptions/servers.dat
overrides/kubejs/exported/tags
overrides/config/appliedenergistics2/client.json
overrides/config/appliedenergistics2/common.json
overrides/config/awesomedungeon.properties
overrides/config/awesomedungeonnether.properties
overrides/config/awesomedungeonocean.properties
overrides/config/bettercombat/client.json5
overrides/config/bettercombat/fallback_compatibility.json
overrides/config/bettercombat/server.json5
overrides/config/biggerreactors-common.toml
overrides/config/byg/backups/last_working_configs_backup.zip
overrides/config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
overrides/config/de/mari_023/ae2wtlib.json5
overrides/config/delogger2.json
overrides/config/enchdesc.json
overrides/config/ftbbackups2.json
overrides/config/immersive_armors.json
overrides/config/libraryferret.properties
overrides/config/lightoverlay.properties
overrides/config/phosphophyllite/general-common.json5
overrides/config/phosphophyllite/quartz-client.json5
overrides/config/pneumaticcraft/MicromissileDefaults.cfg
overrides/config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
overrides/config/pneumaticcraft/thirdparty.cfg
overrides/config/powah.json5
overrides/config/rubidium-options.json
overrides/config/smoothboot.json
overrides/config/sodium-extra-options.json
overrides/config/toolstats.json
overrides/config/wormhole-common.toml
overrides/config/jecalculation/record.json
